<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="row">
    <!--Boton agregar-->
        <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregar">
        Agregar
    </button>
    
    <!-- Modal para agregar-->
    <div class="modal fade" id="agregar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="{% url 'agregar' %}" method="POST">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Agregar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="modelo" class="form-label">Modelo</label>
                            <input type="text" class="form-control" id="modelo" name="modelo"></input>
                        </div>
    
                        <div class="mb-3">
                            <label for="sistema" class="form-label">Sistema</label>
                            <select  class="form-select form-select-lg" id="sistema" name="sistema">
                                {% for Sistema in sistemas %}
                                    <option value="{{Sistema.id}}">{{Sistema.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    
                    </div>
                    <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
  
    
    
<!--tabla donde se muestran los smartphones-->
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Modelo</th>
                <th scope="col">Sistema</th>
                <th></th>
                <th></th>
                
              </tr>
            </thead>
            <tbody>
                {% for Smartphone in smartphones %}
              <tr>
                <th scope="row">{{Smartphone.id}}</th>
                <td>{{Smartphone.modelo}}</td>
                <td>{{Smartphone.sistema.nombre}}</td>
                <td>
                    <button type="button" class="btn btn-success" data-bs-toggle= "modal" data-bs-target="#editar-{{foorloop.counter}}">Editar</button> </td>
                <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminar-{{foorloop.counter}}">Eliminar</button>
                </td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>

    <!--formulario para editar los smartphones-->
    {% for smartphone in smartphones %} 
        <!-- Modal -->
        <div class="modal fade" id="editar-{{foorloop.counter}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form action="{% url 'editar' smartphone.id %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Editar #id{{smartphone.id}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="modelo" class="form-label">Modelo</label>
                                <input type="text" class="form-control" id="modelo" name="modelo" value="{{smartphone.modelo}}"></input>
                            </div>
        
                            <div class="mb-3">
                                <label for="sistema" class="form-label">Sistema</label>
                                <select  class="form-select form-select-lg" id="sistema" name="sistema">
                                    {% for sistema in sistemas %}
                                        {%if sistema.id == smartphone.sistema.id %}
                                            <option value="{{sistema.id}}" selected>{{sistema.nombre}}</option>
                                        {%else%}
                                            <option value="{{sistema.id}}">{{sistema.nombre}}</option>
                                        {%endif%}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Editar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!--formulario para eliminar los smartphones-->

    <!-- Modal -->
    <div class="modal fade" id="eliminar-{{foorloop.counter}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="{% url 'eliminar' smartphone.id %}" method="POST">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Eliminar #id {{smartphone.id}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                            ¿Esta seguro que desea eliminar {{smartphone.modelo}} del sistema?
                    </div>  
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{%endfor%}



<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>